@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

:root {
  --special-cold-light: #83B3D3;
  --special-cold-light12: rgba(131, 179, 211, 0.12);
  --special-cold-light20: rgba(131, 179, 211, 0.2);
  --special-warm-light: #756257;
  --basic-dark: #333333;
  --basic-white: #FFFFFF;
  --basic-black: #000000;
  --basic-light: #F2F2F2;
  --basic-gray: #E6E6E6;
  --body-color: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.outline {
  outline: solid 1px lightcoral;
}

.bg-basic-light {
  background-color: var(--basic-light);
}

.content-container {
  padding-left: 72px;
  padding-right: 72px;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: "PT Sans", Verdana, sans-serif;
  background-color: var(--body-color);
}

ul, ol, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  background-color: white;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
  background-color: var(--basic-white);
}

.btn {
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-white);
}

.page-header {
  display: flex;
  justify-content: space-around;
}

.navigation {
  width: 531px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  gap: 33px;
}

.sedona-logo {
  width: 138px;
}

.actions-list {
  width: 531px;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.btn-favorites, 
.btn-search,
.catalog-item-details {
  background-color: var(--special-warm-light);
}

.btn-subscription,
.btn-apply,
.catalog-item-save,
.load-more {
  background-color: var(--special-cold-light);
}

.navigation-item-link {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-decoration: none;
  color: var(--basic-black);
}

.action-item {
  margin-left: 20px;
}

.action-item-search, .action-item-save {
  width: 20px;
  height: 20px;
}

.btn-favorites {
  font-size: 16px;
  line-height: 21px;
  padding: 10px 30px;
}

.sedona-welcome {
  width: 100%;
  height: 485px;
  background-image: url('../img/svg/welcome.svg'), url('../img/svg/divider.svg'), url('../img/grand-canyon.jpg');
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: center, center bottom;
}

.advantages {
  padding-top: 63px;
}

.advantages-important {
  width: 720px;
  margin: 0 auto 23px auto;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-reasons {
  width: 720px;
  margin: 0 auto 79px auto;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: var(--basic-dark);
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
}

.advantage-item {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}

.advantage-item-cl {
  background-color: var(--special-cold-light);
}

.advantage-item-cl12 {
  background-color: var(--special-cold-light12);
}

.advantage-item-cl20 {
  background-color: var(--special-cold-light20);
}

.advantage-item-reversed {
  flex-direction: row-reverse;
}

.advantage-item-content {
  width: 250px;
  padding: 98px 75px 77px 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advantage-item-image {
  width: 800px;
}

.advantage-item-header {
  width: 171px;
  margin: 0;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-black);
}

.advantage-item-number {
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  color: var(--basic-dark);
}

.advantage-item-text {
  width: 230px;
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-dark);
}

.color-contrast {
  color: var(--basic-white);
}

.recommendations-list {
  display: flex;
}

.recommendation-item {
  width: 250px;
  padding: 184px 75px 79px 75px;
}

.recommendation-item:nth-child(odd) {
  background-color: var(--special-cold-light12);
}

.recommendation-item-header {
  margin: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.recommendation-item-text {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: var(--basic-dark);
}

.search {
  padding-top: 91px;
  padding-bottom: 91px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-header {
  margin: 0;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.search-text {
  width: 575px;
  margin: 0;
  margin-bottom: 73px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-dark);
}

.btn-search {
  width: 575px;
  padding: 13px 0 17px 0;
  font-size: 20px;
  line-height: 36px;
}

.subscription {
  min-height: 224px;
  padding-top: 94px;
  padding-bottom: 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../img/canyon-background.jpg");
  background-size: cover;
}

.subscription-header {
  margin: 0;
  margin-bottom: 15px;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  color: var(--basic-white);
  text-transform: uppercase;
}

.subscription-text {
  margin: 0;
  margin-bottom: 26px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: var(--basic-white);
}

.subscription-form {
  display: flex;
  width: 800px;
}

.subscription-input-email {
  display: block;
  width: 578px;
  margin: 0;
  padding: 0;
  padding-left: 22px;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  border: 0;
}

.btn-subscription {
  display: block;
  width: 200px;
  height: 60px;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
}

.contacts {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.social-links {
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.social-link {
  width: 20px;
  height: 20px;
}

.phone-link {
  flex-grow: 1;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: var(--basic-black);
}

.htmlacademy-link {
  width: 115px;
  height: 32px;
  margin-left: auto;
}

.catalog-search {
  width: 1200px;
  min-height: 408px;
  padding-top: 30px;
  background-image: url('../img/catalog-background.jpg');
  background-size: cover;
  color: var(--basic-white);
}

.catalog-search-header {
  margin: 0;
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs-navigation {
  margin-bottom: 45px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 10px;
}

.breadcrumbs-icon {
  width: 12px;
  height: 12px;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
}

.filter-options {
  min-width: 150px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  border: 0;
}

.infrastructure-options,
.classification,
.filter-price-container,
.filter-buttons-container {
  display: flex;
  flex-direction: column;
}

.infrastructure-options {
  margin-right: 67px;
}

.search-filters-legend, .search-filters-price {
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
}

.option-label {
  margin-bottom: 13px;
  font-size: 18px;
  line-height: 23px;
}

.option-label-text {
  margin-left: 19px;
}

.filter-grid {
  margin-left: auto;
  display: grid;
  grid-template-columns: 142px 223px 1fr;
  grid-template-rows: 60px 48px 48px;
}

.search-filters-price {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
}

.price-min, .price-max {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 4px;
  background: none;
}

.price-min {
  grid-column: 1;
  grid-row: 2;
}

.price-max {
  grid-column: 2;
  grid-row: 2;
  margin-right: 81px;
}

.btn-apply, .btn-reset {
  width: 160px;
  height: 48px;
  cursor: pointer;
}

.btn-apply {
  border-radius: 4px;
  grid-column: 3;
  grid-row: 2;
  font-size: 16px;
  line-height: 21px;
}

.btn-reset {
  grid-column: 3;
  grid-row: 3;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: var(--basic-white);
  background: none;
}

.search-result-header {
  padding-top: 50px;
  padding-bottom: 42px;
  display: flex;
  align-items: center;
}

.search-result-head {
  margin: 0;
  margin-right: 192px;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
}

.sort-by {
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);
}

.view-mode-options {
  margin-left: auto;
  display: flex;
}

.view-mode-item {
  width: 48px;
  height: 48px;
}

.catalog-list-item {
  border-top: 1px solid var(--basic-gray);
}

.catalog-list-item:last-child {
  border-bottom: 1px solid var(--basic-gray);
  margin-bottom: 31px;
}

.catalog-item {
  display: flex;
  padding-top: 28px;
  padding-bottom: 30px;
}

.catalog-item-image {
  width: 180px;
  margin-right: 37px;

}

.catalog-item-info {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 168px 1fr;
  grid-template-rows: min-content 1fr 37px;
  grid-template-areas:
    "head head"
    "type price"
    "details save";
}

.catalog-item-title {
  margin: 0;
  grid-area: head;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}

.catalog-item-type, .catalog-item-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 23px;
  color: var(--basic-dark);
}

.catalog-item-type {
  grid-area: type;
}

.catalog-item-price {
  grid-area: price;
}

.catalog-item-details, .catalog-item-save {
  width: 160px;
  min-height: 37px;
  font-size: 16px;
  line-height: 21px;
}

.catalog-item-save {
  grid-area: save;
}

.catalog-item-details {
  grid-area: details;
  display: block;
  text-align: center;
  /* TODO: Выглядит как хак: что бы выравнять текст ссылки по центру */
  line-height: 37px;
  text-decoration: none;
}

.score-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.catalog-item-stars {
  height: 17px;
}

.catalog-item-rating {
  width: 160px;
  height: 37px;
  font-size: 16px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: var(--basic-dark);
  background-color: var(--basic-light);
}

.load-more {
  display: block;
  width: 625px;
  min-height: 55px;
  padding: 0;
  border: 0;
  margin: 0 auto 30px auto;
  font-size: 20px;
  line-height: 26px;
}

.display-options {
  padding-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--basic-gray);
}

.pagination {
  display: flex;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin: 0;
}

.pagination-item-link {
  display: block;
  width: 55px;
  height: 55px;
  font-size: 20px;
  font-weight: 700;
  line-height: 55px;
  text-align: center;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--special-cold-light);
}

.pagination-item-link-current {
  color: var(--basic-black);
  background-color: var(--basic-light);
}

.total-items-label, .total-items-select {
  font-size: 18px;
  line-height: 23px;
  color: var(--basic-dark);
}

.catalog-subscription {
  background-image: none;
  background-color: var(--basic-white);
}

.catalog-subscription .subscription-header {
  color: var(--basic-black);
}

.catalog-subscription .subscription-text {
  color: var(--basic-dark);
}